# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Editors
.vscode/
.idea/

# files
instructions.md
portal-obia/

# Everything that begins with ...
*/**/2026-01-2*
*/**/2026-02*
*/**/2026-03*
*/**/2026-04*
*/**/2026-05*
*/**/2026-06*
*/**/2026-07*